@import "tailwindcss";

html {
  font-size: 62.5%;
}

@theme {
  --color-primary: #f59e0b;
  --color-primary-light: #fcd34d;
  --color-primary-dark: #d97706;

  --color-disabled: #e0e0e0;

  --color-text-primary: #222;
  --color-text-disabled: #959595;
  --color-text-secondary: #666;
  --color-text-help: #bbb;

  --color-divider-lighter: #eee;

  --color-gray-bg: #eee;

  --color-icon: #555;

  --color-error: #d32f2f;

  --animate-loading-spinner: loading-spinner 1s infinite ease;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
